@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
    .notosanskr * { 
    font-family: 'Noto Sans KR', sans-serif;
}

._ButtonFixBox{
    width: 100%;
    background-color: rgb(178, 190, 181);
    height: 65px;
    position: fixed;
    bottom: 0;
    z-index: 1001;
}

.container__write{
    margin-top: 125px;
}

.upload-info{
    display: inline-flex;
}

.upload-btn{
    width: 200px;
    height: 200px;
    border: 1px solid rgb(213, 208, 208);
}

.write-info{
    margin-left: 30px;
    font-family: Noto Sans KR;
    letter-spacing: 0.5px;
    justify-content: center;
}

.container__write .container{
    background-color: #fff;
    padding: 30px;
    margin-bottom: 40px;
    min-height: 800px;
}

.container hr{
    border: none;
    background-color: rgb(104, 104, 104);
    height: 1px;
}

.article__item__box{
    display: flex;
    flex-direction: row;
    margin: 35px 15px;
}

.item__value{
    font-family: Noto Sans KR;
    font-size: 17px;
    margin: auto 0;
    width: 200px;
}

.inputbox{
    border: none;
    border: 1px solid rgb(215, 215, 215);
    padding: 7px;
    font-family: Noto Sans KR;
    width: 100%;
}

.inputbox:focus, .inputbox:focus{
    outline: #ccc;
    border: 1px solid rgb(215, 215, 215);
}

.addr__btn{
    margin: 10px 0;
    background-color: white;
    border: 1px solid rgb(215, 215, 215);
    padding: 10px;
    font-family: Noto Sans KR;
    font-size: 15px;
}