@font-face {
    font-family: 'SLEIGothicTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.content-wrapper {
    margin-top: 155px;
}

a:link {
    text-decoration: none;
}

#products{
    width: 1200px;
    margin: auto auto;
}

.sub__category{
    color: rgb(128, 128, 128);
    font-size: 15px;
    font-weight: bold;
}

#slider-div {
    margin: 15px 10px;
    width: 100%;
    height: 100%;
    display: inline-block;
    align-items: center;
}

.item-list {
    height: 100%;
    background-color: #ffffff;
}

.fast-box {
    width: 100%;
    height: 230px;
    border-radius: 5px;
    transform: translate(0%, 0%);
}

.fast-item-box {
    width: 80%;
}

.fast-slide-img {
    height: 100%;
    width: 100%;
    background-image: url('/images/noImage.png');
}

.fast-slide-img img {
    width: 100%;
    height: 100%;
}

.fast-detail-box {
    background-color: #ffffff;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    font-family: paybooc-Light;
}

.text span {
    color: rgba(26, 26, 26, 0.5);
}

.type {
    padding: 5px;
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: bold;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

.title {
    width: 180px;
    color: #303030;
    font-size: 15px;
    font-family: 'NanumBarunGothic';
    text-align: left;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line {
    display: flex;
    font-family: paybooc-Light;
    justify-content: space-between;
}

.price {
    color: #333333;
    font-family: SLEIGothicTTF;
    font-size: 16px;
}

.k-money {
    color: #333333;
    font-size: 14px;
    font-weight: 100;
    margin-left: 2px;
}

.line .time {
    color: #858585;
    margin-left: 25px;
    margin-top: 6px;
    font-weight: 300;
    font-size: 0.8rem;
    font-family: paybooc-Light;
    letter-spacing: 0.5px;
}

.group-item-list {
    height: 100%;
    background-color: #ffffff;
    border-radius: 7px;
    /* box-shadow: 6px 9px 12px rgba(0, 0, 0, 0.12); */
}

.overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 26, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-btn {
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #252525;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: paybooc-Light;
    border-radius: 15px;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); */
}

.buy-btn:hover {
    color: #ffffff;
    background-color: #8d8d8d;
    transition: all ease 0.3s;
}

.overlay {
    visibility: hidden;
}

.fast-box:hover .overlay {
    visibility: visible;
}

.today-item-list {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
    margin-left: 15px;
}

.today-item-box:hover{
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.12);
}

.today-item-box {
    margin: 10px 7px;
    /* border: 1px solid #e2e2e2; */
    cursor: pointer;
}

.today-detail-box {
    padding: 5px;
    background-color: #ffffff;
}

.today-box {
    height: 210px;
    width: 215px;
}

.today-box img {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fast__sale_products {
    margin-top: 35px;
}

.fast__category {
    margin: 10px;
    font-size: 24px;
    font-family: GongGothicMedium;
    display: inline-block;
}

.fast__sale_products hr {
    border: 1px solid #000000;
    width: 100%;
    margin: 0;
}

@font-face {
    font-family: 'Arita-dotum-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@media all and(max-width: 1185px) {
    .group__buy {
        display: none
    }
}

.carousel-inner img{
    width: 1000px;
    height: 390px;
}

.group__buying__title {
    margin: 10px;
    font-size: 16px;
    font-family: Arita-dotum-Medium;
    display: inline-block;
}

.fadein {
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

