@font-face {
    font-family: 'NEXON_Lv1_Gothic_OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#contentWrapper{
    min-height: 900px;
    width: 600px;
    margin: 0 20px 0 20px;
    padding: 0;
}

.commenOptionBox{
    display: inline-flex;
}

.optionButton{
    margin: 0 3px 0 3px;
    color: #535252;
    border: none;
    font-size: 12px;
}

.commenOptionBox button{
    outline: none;
}

.commenOptionBox button:hover{
    border-bottom: 1px solid #4c4b4b;
}

_content img{
    width: 410px;
    height: 540px;
}

._contentUploadBox{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
}

._groupExitButton{
    cursor: pointer;
}

._groupExitButton:hover{
    cursor: pointer;
    background-color: #FAF7FAFF;
}

.fileArea img{
    background-color: #f8f9fa;
}

.card-header{
    background-color: #f8f9fa;
    border: none;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text);
    color: #a4a2a2;
}

.modal-footer button{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
}

.modal-dialog {
    max-width: 600px;
    margin: 1.75rem auto;
}

.articleWordsBox{
    margin: auto;
    text-align: end;
    width: 100%;
    font-size: 14px;
}

.contentItemBox ._content{
    white-space: normal;
    word-break: break-all;
}

.usersOptionContainer{
    margin: 0 0 0 25px;
    display: inline-flex;
}

.usersOptionContainer button{
    margin: 0 3px 0 3px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 11px;
    color: #a5a3a3;
}

.usersOptionContainer button:hover{
    border-bottom: 1px solid #686666;
}

._latestCommentContainer a{
    color: #575858;
}

._commentContent:hover{
    border-bottom: 1px solid #4e4d4d;
    cursor: pointer;
}

._latestCommentContainer{
    flex-wrap: wrap;
    padding: 0;
}

._latestCommentBox{
    padding: 5px 0 5px 15px;
    line-height: 1.7;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
}

._latestImageContainer{
    flex-wrap: wrap;
    display: flex;
    padding: 10px 1px 1px 10px;
    flex-direction: row;
    max-height: 30px;
}

._latestImageContainer img{
    width: 70px;
    height: 75px;
    object-fit: cover;
    border: 1px solid #f3f1f1;
    margin: 2px 3px;
}

._noticeEmphasis{
    color: #d93838;
    margin-right: 10px;
}

._noticeText{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    color: #60a85f;
    margin-right: 10px;
}

._noticeContentBox{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    padding: 12px 23px 11px 20px;
    border-bottom: 1px solid whitesmoke;
}

._noticeContent{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    word-break: normal;
    word-wrap: normal;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #333;
    max-width: 430px;
}

._noticeContent:hover{
    border-bottom: 1px solid #666565;
}

._noticeDate{
    font-size: 11px;
    color: #868484;
}

.boardMenuBox hr{
    margin: 0;
    height: 1px;
    border: none;
    background-color: #dbe1e6;
}

.boardmenu{
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
}

.boardmenu:hover{
    background-color: #f1efef;
}

.boardMenuBox{
    background-color: white;
    position: relative;
    width: 130px;
    display: block;
    z-index: 12;
    top: 20px;
    left: -12px;
    text-align: left;
    -webkit-box-shadow: 0 0 0 1px rgb(175 170 170), 0 0 0 0 rgb(226 221 221);
}

.commentProfileBox img{
    border: 1px solid #f9f5f5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin: 5px;
}

._commentBox{
    padding: 10px 15px 8px 15px;
    border-top: 1px solid #f0f0f0;
    background-color: rgb(252, 252, 252);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    display: inline-flex;
    width: 100%;
}

.commentMenuButton{
    object-fit: cover;
    width: 15px;
    height: 15px;
    position: relative;
    left: 95%;
    top: -55px;
    cursor: pointer;
}

.userInfoComment{
    margin: 0 0 0 5px;
    width: 100%;
}

.commentContentBox{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

.commentRegTime{
    font-size: 12px;
    color: #949292;
}

.commentItem{
    background-color: rgb(252, 252, 252);
    border-top: 1px solid #ebebeb;
    padding: 14px 40px 14px 66px;
}

._commentBox:hover{
    background-color: #f8f6f6;
}

.commentInputbox{
    border: 1px solid #f3f0f0;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
}

.commentInputbox:hover, .commentInputbox:focus{
    outline: none;
}

.commentSendBtn{
    background-color: rgb(43, 171, 39);
    padding: 5px;
    border: 1px solid #41a23f;
    border-radius: 3px;
    margin-left: 13px;
    color: white;
}

.commentSendBtn:hover{
    transform: scale(1.2);
}

.commentWriteBox{
    border-top: 1px solid #ebebeb;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
}

.boardInfo{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    color: #a7a5a5;
    cursor: pointer;
    padding: 5px;
}

.boardInfo:hover{
    background-color: #eaebec;
}

._moreMedia{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 6px;
    color: white;
}

.imgBox{
    padding: 10px;
    display: inline-flex;
}

.exchangeContainer{
    margin: 5px 0 5px 0;
    border-top: 1px solid #ebebeb;
}

.addressInputBox{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    outline: none;
}

.addressInputBox{
    margin: 2px 0 2px 0;
}

.exchangeContainerHeader{
    background-color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    padding: 10px 10px 0 0;
    margin: 0;
}

.serachButton{
    margin: 10px 0;
    background-color: white;
    border: 1px solid rgb(215, 215, 215);
    padding: 7px;
    font-family: Noto Sans KR;
    font-size: 13px;
}

#board_content_box{
    height: 300px;
    position: relative;
    overflow-y: scroll;
    background-color: white;
}

.locationInfoBox{
    background-color: #fbfbfb;
    padding: 5px;
    margin-top: 15px;
    cursor: pointer;
}

.locationTextInfoBox{
    padding: 10px;
    font-size: 14px;
    margin: 7px 0 0 0;
}

.boardCategory{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    color: #b98f18;
    margin-right: 10px;
}

._imgPreviewSlider img{
    width: 180px;
    height: 140px;
    object-fit: cover;
    border: 1px solid #f7f7f7;
}

#board_content_box img{
    width: 510px;
    height: 270px;
    object-fit: cover;
    border: 1px solid #f7f7f7;
}

.board{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

._eventBottom{
    display: inline-flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    background-color: rgb(254, 254, 254);
    height: 40px;
    border-top: 1px solid #ebebeb;
}

.eventButton{
    text-align: center;
    padding: 7px;
    background: none;
}

.eventButton:hover{
    outline: none;
}

.eventButtonContainer:hover{
    background-color: #f3f3f3;
}

.eventButtonContainer{
    text-align: center;
    width: 100%;
    cursor: pointer;
    padding: 10px;
}

.contentItemBox{
    background-color: white;
    padding: 15px;
}

._userProfileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.contentAuthorBox{
    display: inline-flex;
    width: 100%;
}

.contentInfoBox{
    margin-left: 10px;
    width: 100%;
}

._username{
    margin-bottom: -3px;
}

._regDate{
    font-size: 11px;
    color: #a09a9a;
    margin: auto auto;
}

._userItemBox{
    display: inline-flex;
    padding: 10px;
    margin: 0;
}

._userItemBox:hover{
    background-color: #f6f6f6;
}

._userItemBox img{
    border: 1px solid #efe9e9;
    width: 35px;
    height: 35px;
    border-radius: 40%;
    object-fit: cover;
}

.userName{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
}

.contentWriterBox .main{
    margin-bottom: 15px;
}

._notice{
    height: 100%;
    background-color: white;
    margin-bottom: 20px;
}

._contentList{
    min-height: 300px;
    background-color: white;
    margin-bottom: 140px;
}

._activitySection .card{
    margin: 0 0 15px 0;
}

.main_container{
    margin: 15px 0 15px 0;
}

.contentWriterBox{
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 2px 3px 0 rgba(161, 161, 161, 0.12);
    margin-bottom: 20px;
}

._contentUploadBox button{
    border: none;
    background-color: white;
}

.fileArea{
    margin: 0 7px 0 7px;
}

.groupTitleInputBox{
    outline: none;
    border: none;
    padding: 7px;
    font-family: Noto Sans KR;
    width: 100%;
}

.boardDropDownButton{
    background-color: #3b6ae4;
    border: none;
    text-decoration: none;
}

.fileArea button:hover{
    outline: none;
    object-fit: cover;
    transform: scale(1.2);
}

._boardIdInfo{
    cursor: pointer;
}

#groupBoardModal{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

.commentWrite{
    border: none;
    resize: none;
    width: 100%;
    height: 90px;
    padding: 10px;
    font-size: 15px;
    color: #252525;
}

.commentWrite:focus{
    outline: none;
    border: none;
    resize: none;
}

.groupBoardTitle{
    font-family: 'Noto Sans KR', sans-serif ;
    font-size: 20px;
}

.search_bar{
    background: #fff;
    width: 100%;
    position: relative;
    font-weight: 100;
    box-shadow: 0 2px 3px 0 rgba(161, 161, 161, 0.12);
}

.search_bar input {
    height: 35px;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 40px 0 15px;
    font-size: 13px;
}

.search_bar .icon{
    position: absolute;
    right: -10px;
    top: -14px;
    height: 45px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: rgb(124, 124, 124);
    cursor: pointer;
}

.groupAside{
    background-color: white;
    margin: 0 0 10px 0;
    text-align: left;
    padding: 10px;
    box-shadow: 0 2px 3px 0 rgba(161, 161, 161, 0.12);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
}

.room_inner_info hr{
    border: none;
    background-color: #b1afaf;
    height: 1px;
    margin: 8px 0 8px 0;
}

._room_description{
    font-family: 'Noto Sans KR', sans-serif;
    color: #888;
    word-wrap: break-word;
    word-break: break-word;
    margin: 5px 0 0 5px;
}

#RoomInnerInfo img{
    cursor: pointer;
}

.card{
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 3px 0 rgba(161, 161, 161, 0.12);
}

.card-header{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
}

::-webkit-scrollbar{
    width: 3px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(109 108 108);
}