#contentWrapper{
    min-height: 900px;
    width: 600px;
    margin: 0 20px 0 20px;
    padding: 0;
}

.imgBox{
    padding: 10px;
    display: inline-flex;
}

.imgBox:hover{
    transform: scale(1.2);
}

._imgPreviewSlider img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.board{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

._eventBottom{
    display: inline-flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    background-color: rgb(252, 252, 252);
    height: 40px;
}

.eventButton{
    text-align: center;
    padding: 7px;
    background: none;
}

.eventButton:hover{
    outline: none;
}

.eventButtonContainer:hover{
    background-color: #f3f3f3;
}

.eventButtonContainer{
    text-align: center;
    width: 100%;
    cursor: pointer;
    padding: 10px;
}

.contentItemBox{
    background-color: white;
    padding: 15px;
}

._userProfileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.contentAuthorBox{
    display: inline-flex;
}

.contentInfoBox{
    margin-left: 10px;
}

._username{

}

._regDate{
    font-size: 11px;
    color: #a09a9a;
}

._userItemBox{
    display: inline-flex;
    padding: 10px;
    margin: 0 3px 0 3px;
}

._userItemBox:hover{
    background-color: #f6f6f6;
}

._userItemBox img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.userName{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
}

.contentWriterBox .main{
    margin-bottom: 15px;
}

._notice{
    height: 180px;
    background-color: white;
    margin-bottom: 20px;
}

._contentList{
    min-height: 300px;
    background-color: white;
    margin-bottom: 140px;
}

._activitySection .card{
    margin: 0 0 15px 0;
}

.main_container{
    margin: 15px 0 15px 0;
}

.contentWriterBox{
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 2px 3px 0 rgba(161, 161, 161, 0.12);
    margin-bottom: 20px;
}

._contentUploadBox button{
    border: none;
    background-color: white;
}

.fileArea button:hover{
    outline: none;
    object-fit: cover;
    transform: scale(1.2);
}

#chatroom_comment_box{
    border: none;
    resize: none;
    width: 100%;
    height: 90px;
    padding: 10px;
    font-size: 13px;
}

#chatroom_comment_box:focus{
    outline: none;
    border: none;
    resize: none;
}

.search_bar{
    background: #fff;
    width: 100%;
    position: relative;
    font-weight: 100;
    box-shadow: 0 2px 3px 0 rgba(161, 161, 161, 0.12);
}

.search_bar input {
    height: 35px;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 40px 0 15px;
    font-size: 13px;
}

.search_bar .icon{
    position: absolute;
    right: -10px;
    top: -14px;
    height: 45px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: rgb(124, 124, 124);
    cursor: pointer;
}

.room_inner_info{
    background-color: white;
    margin: 0 0 10px 0;
    text-align: left;
    padding: 10px;
    box-shadow: 0 2px 3px 0 rgba(161, 161, 161, 0.12);
}

.room_inner_info hr{
    border: none;
    background-color: #bbbbbb;
    height: 1px;
    margin: 10px 0 10px 0;
}

.Group_product{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
}

._room_title{
    font-size: 19px;
}

._room_description{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #888;
    word-wrap: break-word;
    word-break: break-word;
    margin: 5px 0 0 5px;
}

#RoomInnerInfo img{
    cursor: pointer;
}

.card{
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 3px 0 rgba(161, 161, 161, 0.12);
}

.card-header{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
}

::-webkit-scrollbar{
    width: 3px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background-color: rgb(124, 124, 124);
}