@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
    .notosanskr * { 
    font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
    font-family: 'ChosunBg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunBg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}

#exit__btn{
    font-family: Noto Sans KR;
    font-size: 13px;
    height: 30px;
    border: none;
    border-radius: 0px;
}

.user__name__info{
    font-family: ChosunBg;
    font-weight: 100;
}

.send__info__message{
    font-family: Noto Sans KR;
    font-size: 12px;
    margin-top: 5px;
    color: rgb(114, 114, 114);
    margin-bottom: 5px;
}

.send__info__message span{
    cursor: pointer;
}