@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

#clientBoardImageContinaer img{
    width: 180px;
    height: 180px;
    margin: 0 5px 5px 5px;
}

.writerProductTitle{
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: 37px;
    padding: 0 5px 5px 0;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 520px;
    max-height: 165px;
    word-break: break-all;
    white-space: break-spaces;
    line-height: 35px;
}

.writerProductContent{
    font-family: 'Pretendard-Regular', sans-serif;
    font-size: 21px;
    padding: 0 5px 5px 0;
    word-break: break-all;
    white-space: break-spaces;
    text-overflow: ellipsis;
    max-height: 180px;
}

.writerProductPrice{
    font-family: Pretendard-SemiBold;
    font-size: 19px;
    letter-spacing: 0;
    color: red;
}

.clientImageUploadButton{
    width: 160px;
    height: 160px;
    border: 1px solid #e4e3e3;
    cursor: pointer;
}

.distanceInfo li img{
    margin: 0 15px 0 5px;
}

.distanceInfo ul, .distanceInfo li{
    background: white;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    margin: 0;
    padding: 5px;
}

.distanceInfoBox{
    border: 1px solid #827f7f;
}

.writerBoardContentContainer hr{
    border: none;
    background-color: #a4a3a3;
    margin: 15px 5px 15px 0;
    height: 1px;
}

.userProfile{
    width: 40px;
    height: 40px;
}

.exchangeHeader{
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: 23px;
    margin-bottom: 15px;
}

.clientCategoryBox{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

#currentAddr{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    padding: 5px;
}

.clientCategoryBox textarea{
    resize: none;
    height: 110px;
} 

.clientExchangeInfoBox{
    outline: none;
    resize: none;
    border: 1px solid rgb(215, 215, 215);
    padding: 7px;
    font-family: Noto Sans KR;
    width: 100%;
}

.clientExchangeInfoBox:focus, .clientExchangeInfoBox:focus{
    outline: #ccc;
    border: 1px solid rgb(215, 215, 215);
}

.writerUsername{
    margin: auto 0 auto 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

.carousel-inner img {
    object-fit: cover;
    height: 610px;
    margin: auto;
}

.clientExchangeImageSlider{
    width: 1600px;
    height: 610px;
    background-color: transparent;
    text-align: center;
}

.windowInfoMarker{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    min-width: 180px;
}

.clientExchangeButton{
    margin: 10px 0;
    background-color: white;
    border: 1px solid rgb(215, 215, 215);
    padding: 8px;
    font-family: Noto Sans KR;
    font-size: 14px;
    cursor: pointer;
}

.clientExchangeButton:hover{
    background: #f1f1f1;
}

.exchangeButtonContainer{
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 1002;
    background: #ffffff;
    height: 60px;
}

.firstImageSlider, .carouselButton, .clientImageSlider{
    filter: invert(100%);
}

.carousel-inner .carousel-item {
    height: 550px;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}