@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.footer__section h1{
    font-family: Pretendard-Regular;
    font-size: 13px;
    color: #d7d5d5;
}

.footer__section{
    height: 120px;
    width: 100%;
    background-color: rgb(64, 71, 81);
}
