@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.dropdown-menu .dropdown-item{
    font-family: Noto Sans KR;
    font-size: 12px;
    color: #5c5c5c;
}

.dropdown-menu hr{
    border: none;
    height: 1px;
    background: #eaeaea;
    margin: 5px 0 5px 0;
}

#dropdownMenuButton1 .dropdown-toggle::after{ color: #767676; }
#dropdownMenuButton1 .btn {background: #ffffff; color:#fff; }
#dropdownMenuButton1 .btn:hover {background: #ffffff; color: #ffffff;}
#dropdownMenuButton1 .btn:active {background: #ffffff; color: #ffffff;}
#dropdownMenuButton1 .btn:focus {background: #ffffff; color: #ffffff; border: none}

.btn__text{
    font-size: 13px;
    font-family: 'ON-IGothic';
    letter-spacing: normal;
    margin: 0px 5px;
}

.wrap-main{
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.none_login{
    display: flex;
    font-size: 13px;
    font-family: 'Pretendard-SemiBold';
    margin-left: auto;
}

.none_login a{
    margin: 0 5px 0 5px;
}

.on-login{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.header{
    position: fixed; 
    z-index: 11501;
    left: 0;
    right:0;
    top: 0; 
    background-color: #fff;
    -webkit-box-shadow: 0 1.4px 1.3px 0 rgb(62 73 89 / 7%);
    height: 60px;
}

.user-info-box a:hover {color: rgb(17, 17, 17)}
.user-info-box a.active {color: rgb(17, 17, 17)}


.header_box{
    height: 50px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: center;
    padding: 25px;
}

.btn-header-btns{
    display: flex;
    margin-left: 130px;
}

.btn-header-btns .header_{
    margin: 0 5px 0 5px;
}

.btn-header-btns button{
    padding: 5px;
    background-color: #fff;
    color: #414141;
    font-size: 0.8rem;
    font-family: Noto Sans KR;
    letter-spacing: 1.1px;
    border: none;
    outline: none;
}

.wrapper{
    margin: 10px 10px;
    width: 600px;
}

.wrapper .search-input{
    background: #fff;
    width: 450px;
    position: relative;
    font-weight: 100;
    font-family: Noto Sans KR;
    border: 1px solid rgb(225, 225, 225);
}

.search-input input{
    height: 30px;
    width: 100%;
    outline: none;
    border: none;
    background-color: #f5f5f5;
    padding: 0 35px 0 10px;
    font-size: 12px;
}

.search-input.active input{
    border-radius: 3px 3px 0 0;
}

.search-input.auto-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow: auto;
}

.search-input.active.auto-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto    ;
}

.autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.search-input.active.autocom-box li{
    display: block;
}

.autocom-box li:hover{
    background: #f2f2f2;
}

.search-input .icon{
    position: absolute;
    right: -10px;
    top: -14px;
    height: 45px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: rgb(124, 124, 124);
    cursor: pointer;
}

.search-input .icon:hover{
    color: rgb(78, 78, 78);
}

.header-product-reg{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.logo__text{
    color: #414141;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: Noto Sans KR;
}

@media all and (max-width: 1000px) {
    .btn-header-btns .btn__text{
        display: none;
    }
    .logo__text{
        display: none;
    }
}

.remote__container{
    border: 1px solid rgb(14, 14, 14);
}

.remote__list li{
    list-style: none;
    margin: 25px 5px;
}

.remote__list li div div{
    margin: auto auto;
    text-align: center;
    width: 22px;
    height: 22px;
    background-color: red;
    border-radius: 25px;
    font-size: 13px;
    color: white;
    margin-bottom: 2px;
}


.remote__list img{
    width: 27px;
    height: 27px;
}