@font-face {
    font-family: 'ON-IGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eleven@1.0/ON-IGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#exampleModal .modal-header{
    height: 40px;
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 15px;
    display: block;
}

.checkbox input{
    margin-right: 5px;
}

._group div{
    margin-right: 25px;
    font-family: Noto Sans KR;
    font-size: 14px;
}

.user_number{
    font-size: 11px;
    color: #a1a1a1;
    margin-top: 5px;
}

.Group__room__content{
    font-family: Noto Sans KR;
    font-size: 13px;
    height: 75px;
    padding: 15px;
    border-top: 1px solid #e8e8e8;
}

.Group__room__title{
    font-family: 'Noto Sans KR';
    font-size: 12px;
    font-weight: 400;
    width: 170px;
}

.group_item_box:hover{
    background-color: rgb(245, 245, 245);
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.12);
}

.group_item_box{
    cursor: pointer;
    margin: 5px 10px 10px 15px;
    max-width: 185px;
    height: 200px;
    background-color: white;
}

.page__container{
    text-align: center;
}

.Group__room__list img{
    width: 185px;
    height: 135px;
    object-fit: cover;
}


.Group__room__list{
    margin: 10px 10px;
    min-height: 400px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#smartwizard hr{
    margin: 20px 10px;
    border: none;
    background-color: rgb(182, 182, 182);
    height: 1px;
}

#preview__img__container{
    max-width: 100%;
}

#img__upload{
    height: 130px;
    width: 150px;
    border: 1px solid rgb(230, 230, 230);
    margin-top: 9px;
}

.fast__sale_products button{
    font-family: Noto Sans KR;
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 1px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25)
}

.btn-secondary:focus {
    box-shadow: 0 0 0 0rem rgba(108, 117, 125, .5)
}

.close:focus {
    box-shadow: 0 0 0 0rem rgba(108, 117, 125, .5)
}

.mt-200 {
    margin-top: 200px
}