@font-face {
    font-family: 'SEBANG_Gothic_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fast__sale_products button{
    font-family: SEBANG_Gothic_Regular;
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 1px;
}