@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.profileEditButton{
    border: none;
    background: white;
    padding: 5px;
}

.editValueInput{
    border: 1px solid #b2b0b0;
    padding: 5px;
    font-size: 15px;
    resize: none;
}

.editValueInput:hover, .editValueInput:focus{
    outline: none;
}

.editProfile div{
    margin: 10px 0 10px 0;
}

.profileEditButton:hover, profileEditButton:focus{
    border: none;
    outline: none;
    background: rgb(235, 235, 235);
}

.editConfirmButton{
    padding: 10px 5px 10px 5px;
    font-family: Pretendard-Regular;
    font-size: 16px;
    width: 80px;
}

.reviewWrapper{
    font-family: Pretendard-Regular;
    font-size: 16px;
}

.userProfileImage{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.usernameInfoBox{
    font-size: 17px;
    margin: 10px;
}

.emptyViewContainer{
    font-family: Pretendard-SemiBold;
    font-size: 19px;
}

.badge{
    padding: 7px;
    font-size: 12px;
    font-weight: 400;
}

.title{
    font-family: Pretendard-Regular;
    position: relative;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.price{
    font-family: Pretendard-SemiBold;
    letter-spacing: 0;
    font-size: 16px;
    font-weight: bold;
    color: #b63636;
}

.tabPageContainer button{
    padding: 15px;
    font-family: Pretendard-Regular;
    font-size: 17px;
    text-align: center;
    border: none;
    background-color: white;
    width: 100%;
}

.tabPageContainer button:hover, .tabPageContainer button:focus {
    outline:none;
}

.userMannerScrore{
    object-fit: cover;
}

.userProfileInfoContainer{
    font-family: Pretendard-Regular;
    font-size: 14px;
}