@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#search__container{
    margin-top: 185px;
}

.search__keyword span{
    font-size: 18px;
    font-family: GongGothicMedium;
}

.keyword{
    color: rgb(194, 51, 51);
}

.search__wrapper hr{
    border: 1px solid rgb(139, 139, 139);
    
}

.search{
    display: flex;
    justify-content: space-between;
}

.sort__Type span{
    margin: 10px 5px;
    font-size: 13px;
    font-family: NanumBarunGothic;
    cursor: pointer;
}

.accuracy{
    font-weight: 800;
}

.Bestprice{
    font-weight: 800;
}

.Latest{
    font-weight: 800;
}

.search__item__list{
    display: inline-flex;
    margin: 10px 5px;
}

.search__item__box{
    width: 200px;
    height: 250px;
    border: 1px solid rgb(243, 243, 243);
    border-radius: 5px;
}

.search__box__img img{
    width: 100%;
    height: 100%;
}

.info__box{
    padding: 12px;
}

.page__container{
    flex-wrap: nowrap;
    white-space: nowrap; 
}

.page__box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 5px;
}

.page__box img{
    border: 1px solid rgb(219, 219, 219);
    width: 35px;
    height: 35px;
    object-fit: none;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.page__number__box{
    width: 390px;
    display: inline;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
}

.page__number{
    padding: 6px;
    text-align: center;
    width: 35px; height: 35px;
    border: 1px solid rgb(219, 219, 219);
    font-size: 14px;
    font-family: SLEIGothicTTF;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap; 
    background-color: rgb(245, 245, 245);
    text-decoration: none;
}

.page__number:hover{
    background-color: rgb(245, 245, 245);
}