@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.container ::-webkit-scrollbar{
    width: 3px;
    background-color: transparent;
}

.container ::-webkit-scrollbar-thumb{
    background-color: rgb(143, 141, 141);
}

.chatRegTime{
    font-size: 12px;
    color: #9e9e9e;
}

.exchangeBox{
    border-bottom: 1px solid #d4d4d4;
}

.exchangeBox:hover{
    background: rgb(234, 237, 241);
}

.exchangeTargetUsername{
    font-family: Pretendard-SemiBold;
    font-size: 17px;
}

.exchangeTargetChat{
    font-family: Pretendard-Regular;
    font-size: 14px;
    color: #838282;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
}

#exchangeProcessChatList img{
    width: 45px;
    height: 45px;
}

.targetChatContent{
    width: 100%;
    padding: 5px 23px 1px 15px;
    zoom: 1;
    position: relative;
    display: block;
    font-size: 13px;
}

.targetContent{
    color: #3e3a3a;
    background: #e4e4e4;
    padding: 7px;
    border-radius: 6px;
    text-align: center;
}

.meContent{
    max-width: 280px;
    display: inline-block;
    background-color: rgb(218, 243, 231);
    padding: 7px;
    border-radius: 6px;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 14px;
    color: #454545;
}

.notiContent{
    width: 50%;
    margin: auto;
    color: darkgrey;
    padding: 15px;
    text-align: center;
}

.chatContainer{
    overflow-y: scroll;
    font-family: Pretendard-Regular;
    font-size: 15px;
}

.targetProfile{
    width: 45px;
    height: 45px;
}

.userChatImageFile{
    width: 240px;
    height: 240px;
}

.inputButton{
    border: none;
    width: 100%;
    object-fit: cover;
    background: transparent;
}

.inputButton img{
    padding: 5px;
}

.inputButton:hover{
    outline: none;
}

.SendChatContentBox{
    outline: none;
    font-family: Pretendard-Regular;
    font-size: 14px;
    resize: none;
    border: 1px solid rgb(215, 215, 215);
    padding: 4px;
}

.SendChatContentBox:focus, .SendChatContentBox:focus{
    outline: #ccc;
    border: 1px solid rgb(215, 215, 215);
}

.modal-header{
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: 19px;
}

.modalColumn{
    display: inline-flex;
    background: rgb(238, 240, 243);
    padding: 10px;
    width: 98%;
    margin: 10px 10px 0 10px;
    font-family: Pretendard-SemiBold;
    font-size: 15px;
    text-align: center;
}

.requestBoardItemContainer{
    font-family: Pretendard-Regular;
    font-size: 14px;
    text-align: center;
    height: 464px;
    overflow: hidden;
}

.pagenumberList{
    display: inline-flex;
    max-width: 235px;
    overflow: hidden;
}

.pageMoveButton:hover{
    background: #f8f8f8;
}

.pageStep{
    max-width: 227px;
    width: 100%;
}

.pagenumberList div{
    font-size: 16px;
    font-family: Pretendard-Regular;
    justify-content: center;
    padding: 8px 15px 8px 15px;
    margin: 0 3px 0 3px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.pageValue:hover{
    background: #f8f8f8;
}

.requestBoardItemContainer .clientRequestItemBox{
    display: inline-flex;
    padding: 15px;
    width: 101%;
    margin-left: 10px;
}

.requestModalPageBox{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    text-align: center;
}

.requestModalPageBox button{
    background: white;
    border: 1px solid #f8f8f8;
    width: 40px;
    height: 40px;
}


.clientRequestItemBox:hover{
    background: #fdfdfd;
}

.actionButton{
    margin: 10px 3px 10px 3px;
    background-color: white;
    border: 1px solid rgb(215, 215, 215);
    padding: 8px;
    font-family: Noto Sans KR;
    font-size: 13px;
    cursor: pointer;
}

.actionButton:hover{
    background: #f1f1f1;
}

.actionButton:focus{
    outline: none;
}

input[type=checkbox]{
    width: 20px;
    height: 20px;
}

.clientRequestModal{
    overflow-y: hidden;
}

.itemHeader{
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: 19px;
}

.requestDate{
    font-size: 13px;
    color: #545454;
}

.textItem{
    font-family: 'Pretendard-Regular', sans-serif;
    font-size: 27px;
    color: #252525;
}

.requestItemBox{
    margin: auto auto;
    font-family: 'Pretendard-Regular', sans-serif;
    font-size: 14px;
}

.requestTitle{
    font-family: 'Pretendard-SemiBold', sans-serif;
    font-size: 17px;
}

.requestContent{
    font-family: 'Pretendard-Regular', sans-serif;
    font-size: 14px;
    max-height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1.2em;
    height: 3.6em;
}

.requestThumbnail img{
    border: 1px solid #e3e4e6;
}

.requestItemBox img{
    width: 85px;
    height: 85px;
    object-fit: cover;
    border-radius: 10%;
    margin: auto;
}

.requestUserProfile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
