@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
    .notosanskr * { 
    font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
    font-family: 'ChosunBg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunBg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container__product__box{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 5px 0px;
}

.container__product__box div{
    font-size: 14px;
    font-family: Noto Sans KR;
    margin: auto auto;
    justify-content: center;
    align-content: center;
}

.thumbnail__img{
    width: 100px;
    height: 100px;
}

.transaction__button{
    text-align: right;
}

#transaction__btn{
    font-size: 14px;
    font-family: Noto Sans KR;
}

.transaction__button button{
    font-size: 14px;
}

.product__items__container a{
    text-decoration: none;
    color: black;
}

.transaction__status__container div{
    font-size: 12px;
}